.offer {
    padding: 0 19px;
    max-width: 390px;
    margin: 16px auto 0;
}

.offer__btn {
    text-transform: uppercase;
    font-size: 12px;
    color: #B9AC90;
    background: unset;
    position: relative;
    border: unset;
    display: block;
    margin: 0 auto;

    min-height: 36px;
    min-width: 214px;
}

.offer__btn-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.offer__heading {
    margin-top: 16px;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.offer__heading-highlight {
    color: #b9ac90;
}

.offer__desc {
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 0;
    color: #FFFFFFB2;
    text-align: left;
    line-height: 22px;
}

.offer__desc--center {
    text-align: center;
}

.offer__desc-highlight {
    font-weight: 700;
    color: #fff;
}

.offer__img {
    width: 100%;
}