.push-notify {
    position: absolute;
    right: 0;
    top: 170px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #438b29;
    text-transform: uppercase;
    max-width: 300px;
    border: 1px solid #FFFFFF1F;
}