.survey {
    padding: 0 14px;
    max-width: 768px;
    margin: 21px auto 96px;

    &.is-end {
        margin: 120px auto 96px;
    }
}

.survey__heading {
    font-size: 14px;
    margin-bottom: 0;
    color: #FFFFFFB2;
    line-height: 22px;
}

.survey__wrapper {
    border: 1px solid #FFFFFF1F;
    margin-top: 16px;
}

.survey__alarm {
    background-color: #B9AC90;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 24px;
    color: #000;
    text-transform: uppercase;
    padding: 8px;
}

.survey__alarm-icon {
    margin-right: 5px;
    width: 20px;
    height: 20px;

    svg {
        width: inherit;
        height: inherit;
    }
}

.survey__progress {
    padding: 0 16px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.survey__progress-item {
    height: 4px;
    width: 25%;
    background-color: #FFFFFF1F;

    &.active {
        background-color: #B9AC90;
    }
}

.survey__question {
    padding: 0 16px;
}

.survey__question-item {
    display: none;

    &.active {
        display: block;
    }
}

.survey__question-title {
    margin-top: 16px;
    font-weight: 600;
    line-height: 28px;
    font-size: 24px;
    text-transform: capitalize;

    &.survey__question-title--center {
        text-align: center;
    }
}

.survey__question-list {
    margin-top: 24px;
}

.survey__question-answer {
    cursor: pointer;
    border: 2px solid #B9AC90;
    background-color: #000000;
    color: #B9AC90;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;

    margin-top: 8px;

    &:first-child {
        margin-top: unset;
    }
}

.survey__notion-list {
    margin-top: 21px;
    display: grid;
    grid-template-columns: repeat(3, 111px);
    justify-content: center;

    color: #B9AC90;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-weight: 600;

    padding: 16px 11px;
    border-top: 1px solid #FFFFFF1F;

    &.survey__question-title--center {
        text-align: center;
    }
}

.survey__notion-item {
    border-right: 1px solid #FFFFFF5C;
    text-transform: capitalize;

    &:last-child {
        border-right: unset;
    }
}

/* COMPLETE */
.survey__complete {
    padding: 24px 24px 3px;
}

.survey__complete-heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    text-transform: capitalize;
}

.survey__complete-progress {
    margin-top: 16px;
    width: 100%;
    height: 4px;
    background-color: #FFFFFF1F;
}

.survey__complete-subtract {
    width: 0%;
    height: inherit;
    background-color: #B9AC90;
}

.survey__complete-list {
    margin-top: 24px;
}

.survey__complete-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    filter: grayscale(1);

    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

    margin-top: 8px;

    &:first-child {
        margin-top: unset;
    }

    &.checked {
        filter: unset;
    }
}

.survey__complete-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;

    svg {
        width: inherit;
        height: inherit;
    }
}