.the-header {}

.the-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #FFFFFF1F;
}

.the-header__logo {
    margin: 12px 0;
}

.the-header__btn {
    position: absolute;
    right: 16px;
    top: 20px;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 0;
    background: unset;
    border: unset;
}

.the-header__icon {
    width: 32px;
    height: 32px;
}

.the-header__addition {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF1F;
}

.the-header__text {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
}