.timer-left {
    background-color: #B9AC90;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding: 10px;
}

.timer-left__icon {
    margin-right: 2px;
    width: 20px;
    height: 20px;
}

.timer-left__desc {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 0;
}

.timer-left__highlight {
    font-weight: 700;
}