.win-modal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #0A0A0A;
    border-top: 1px solid #FFFFFF1F;
    padding: 24px;
}

.win-modal__wrapper {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
}

.win-modal-backdrop {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00000066;
}

.win-modal__img {
    text-align: center;
}

.win-modal__heading {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
    margin-top: 24px;
    text-align: left;
}

.win-modal__desc {
    text-transform: capitalize;
    margin-top: 10px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.win-modal__list-heading {
    text-transform: capitalize;
    margin-top: 24px;
    font-weight: 600;
    line-height: 28px;
    font-size: 24px;
    margin-bottom: 0;
    text-align: left;
}

.win-modal__list {}

.win-modal__item {
    text-transform: capitalize;
    color: #FFFFFFB2;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    text-align: left;
}

.win-modal__btn {
    margin-top: 24px;
    width: 100%;
    padding: 12px;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #B9AC90;
    border: none;
    outline: unset;
    border-radius: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.win-modal__icon {
    margin-left: 6px;
    width: 24px;
    height: 24px;
}