@import "./functions.scss";

// Global variables

// 'rem' base value
$rem: 10px;

// Breakpoints for include media mixin
//* First desktop breakpoints
$breakpoints: (
  "xxl": 1920px,
  "xl": 1440px,
  "lg": 1280px,
  "md": 992px,
  "sm": 768px,
  "xs": 480px) !default;

//* First mobile breakpoints
// $breakpoints-first-mobile: (
//   "xs": 0px,
//   "sm": 768px,
//   "md": 1024px,
//   "lg": 1440px
// );

//* Extra points for small phones
$extra-breakpoints: (
  "xxs": 380px,
  "3xs": 360px,
  "4xs": 320px
);

// Keywords for include media mixin
$media-expressions: (
  "screen": "screen",
  "print": "print",
  "handheld": "handheld",
  "landscape": "(orientation: landscape)",
  "portrait": "(orientation: portrait)",
  "retina2x": ("(-webkit-min-device-pixel-ratio: 2)",
    "(min-resolution: 192dpi)",
    "(min-resolution: 2dppx)"
  ),
  "retina3x": ("(-webkit-min-device-pixel-ratio: 3)",
    "(min-resolution: 350dpi)",
    "(min-resolution: 3dppx)"
  )) !default;

$gutter-width: 30px !default;

:root {
  // Colors
  --color-white: #fff;
  --color-black: #000000;
  --color-grey: #999;
  --color-blue: #32ABF2;
  --color-dark-gray: #4d4d4d;
  --color-back-light: #4F637D;
  --base-color-brand--red: #f61b5c;
  --base-color-brand--green: #2fec2f;
  --color-blue-dark: #134267;
  --color-dray-light: #C3CAD5;
  --color-white-gray: #F8F9FC;

  // Fonts
  --font-sans-serif: "Roboto Flex",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-serif: "Roboto Flex",
    ui-serif,
    Georgia,
    Cambria,
    "Times New Roman",
    Times,
    serif;
  --font-mono: ui-monospace,
    "Cascadia Mono",
    "Segoe UI Mono",
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;

  // Body base
  --base-background-color: var(--color-black
  );
--base-font-family: var(--font-sans-serif);
--base-font-size: 1.6rem;
--base-line-height: 1.2;
--base-text-color: var(--color-white);
--base-min-width: 320px;

// Buttons base
--btn-color: var(--color-white);
--btn-background: var(--color-blue);
--btn-padding: 0.4em 0.7em;
--btn-font-size: 1.6rem;
--btn-font-family: var(--font-sans-serif);

// Forms base
--form-font-family: var(--font-sans-serif);
--form-element-padding: 10px 10px 10px 17px;
--placeholder-color: var(--color-dray-light);

// Headings base
--headings-font-family: var(--font-sans-serif);
--headings-color: var(--color-white);

// Base font styles for headings
--headings-sizes-h1: 3rem;
--headings-sizes-h2: 2.4rem;
--headings-sizes-h3: 2.4rem;
--headings-sizes-h4: 2.1rem;
--headings-sizes-h5: 1.7rem;
--headings-sizes-h6: 1.5rem;
}